<main>
  <section class="inputs">
    <form [formGroup]="drinkForm" class="inputs_form">
      <mat-form-field>
        <mat-label>Itens</mat-label>
        <input #drinkNameInput matInput placeholder="Type here..." formControlName="itenName">
      </mat-form-field>

      <mat-radio-group formControlName="drinkType">
        <mat-radio-button value="warm" >Warm</mat-radio-button>
        <mat-radio-button value="cold">Cold</mat-radio-button>
      </mat-radio-group>

      <div id="counterInput">
        <button mat-fab (click)="addItenAmount()">
          <mat-icon>add</mat-icon>
        </button>

        {{itenAmountValue}}

        <button mat-fab (click)="decreaseItenAmount()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <button mat-flat-button (click)="addDrink()">Add</button>
      <button mat-flat-button (click)="deleteAllItens()">Clear</button>
    </form>      
  </section>
  
  <section class="lists">
    <div>
      <span>Warm Drinks</span>
      <mat-selection-list class="lists_drinks">
        @for (warmDrink of warmDrinkList; track $index) {
          <div class="lists_drinks-itens">
            <button mat-icon-button (click)="deleteSelectedWarmIten($index)">
              <mat-icon>delete</mat-icon>
            </button>

            <mat-list-option>{{warmDrink}}</mat-list-option>
          </div>
        }
      </mat-selection-list>    

      <hr>

      <span>Cold Drinks</span>
      <mat-selection-list class="lists_drinks">
        @for (coldDrink of coldDrinkList; track $index) {
          <div class="lists_drinks-itens">
            <button mat-icon-button (click)="deleteSelectedColdIten($index)">
              <mat-icon>delete</mat-icon>
            </button>

            <mat-list-option>{{coldDrink}}</mat-list-option>
          </div>
        }
      </mat-selection-list> 
    </div>
  </section>
</main>